<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
		<div id="sidebar">
			{% block sidebar %}
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/test">Test home</a></li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
					<li><a href="/user/new">Sign up</a></li>
				{% endif %}				
				<li><a href="/user">User</a></li>
				<li>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					Hi {{ app.user.username }} (<a href="/logout">Logout</a>)
					{% else %}
					<a href="/login">Login</a>
					{% endif %}
				</li>
			</ul>
			{% endblock %}
		</div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
